.kartyak {
    border: solid grey;


}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.nevjegy {
    display: grid;
    grid-template-columns: 3fr 6fr;
    border: solid gray;
    gap: 20px;
}

.kep {
    
    padding: 10px;

    
    
}

#profil {

    border-radius: 50%;
}

.szoveg {
    
    padding: 10px;
}

img {
    width: 100%;
    
}