.kartyak {
    border: solid grey;


}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.nevjegy {
    display: grid;
    grid-template-columns: 4fr 6fr;
    border: solid gray;
    gap: 20px;
}

.kep {
    border: solid rgb(133, 105, 255);
    
}

.szoveg {
    border: solid rgb(105, 255, 230);
    
}