body {
   font-family: Cursive;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr;

    
}

nav {
    border: solid red;
    
}

article {

   
    display: grid;
    gap: 20px;
}

header {
    border: solid hotpink;
    
}