main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border: solid greenyellow;
    border-style: dotted;
    gap: 10px;
}

nav {
    border: solid red;
    border-style: dotted;
}

article {
    border: solid blue;
    border-style: dotted;
    display: grid;
    gap: 20px;
}

header {
    border: solid hotpink;
    border-style: dotted;
}